{% extends "base.html" %}

{%- block page -%}

  {% block skip %}
    <div class="visually-hidden-focusable"><a href="#content">{{ _('Skip to main content') }}</a></div>
  {% endblock skip %}

  {#
  페이지별로 헤더를 재정의하려면 이 블록을 확장하세요. 사이트 전체의 헤더를 변경하려면
  header.html 파일을 재정의하는 것이 더 좋습니다.
  #}
  {%- block header %}
    {% include "header.html" %}
  {% endblock header -%}

  {# 필요한 경우 페이지 콘텐츠를 교체할 수 있습니다. #}
  {%- block content %}
    {% block maintag %}<div class="main">{% endblock maintag %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for category, message in h.get_flashed_messages(with_categories=true) %}
                  <div class="alert alert-dismissible fade show {{ category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock flash_inner %}
            </div>
          {% endblock flash %}

          {% block toolbar %}
            <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}{% endblock breadcrumb_content %}
                  </ol>
                {% endif %}
              {% endblock breadcrumb %}
            </div>
          {% endblock toolbar %}

          <div class="row wrapper{% block wrapper_class %}{% endblock wrapper_class %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
            {#
            페이지의 메인 콘텐츠 열 앞에 콘텐츠를 추가하려면 이 블록을 확장하세요.
            #}
            {% block pre_primary %}
            {% endblock pre_primary %}

            {% block secondary %}
              <aside class="secondary col-md-3">
                {#
                페이지의 보조 콘텐츠 열에 콘텐츠를 추가하려면 이 블록을 확장하세요.
                이 블록은 템플릿 내에서 가장 일반적으로 사용됩니다.

                Example:

                  {% block secondary_content %}
                    <h2>A sidebar item</h2>
                    <p>Some content for the item</p>
                  {% endblock %}
                #}
                {% block secondary_content %}{% endblock secondary_content %}
              </aside>
            {% endblock secondary %}

            {% block primary %}
              <div class="primary col-md-9 col-xs-12" role="main">
                {#
                페이지에 콘텐츠를 추가하려면 이 블록을 확장하세요.
                이 블록은 템플릿 내에서 가장 일반적으로 사용됩니다.

                Example:

                  {% block primary_content %}
                    <h1>My page content</h1>
                    <p>Some content for the page</p>
                  {% endblock %}
                #}
                {% block primary_content %}
                  <article class="module">
                    {% block page_header %}
                      <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                          <div class="content_action">
                            {% block content_action %}{% endblock content_action %}
                          </div>
                        {% endif %}
                        <ul class="nav nav-tabs">
                          {% block content_primary_nav %}{% endblock content_primary_nav %}
                        </ul>
                      </header>
                    {% endblock page_header %}
                    <div class="module-content">
                      {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                          {% block page_primary_action %}{% endblock page_primary_action %}
                        </div>
                      {% endif %}
                      {% block primary_content_inner %}
                      {% endblock primary_content_inner %}
                    </div>
                  </article>
                {% endblock primary_content %}
              </div>
            {% endblock primary %}
          </div>
        {% endblock main_content %}
      </div>
    </div>
  {% endblock content -%}

  {#
  페이지별로 푸터를 재정의하려면 이 블록을 확장하세요. 사이트 전체의 푸터를 변경하려면
  footer.html 파일을 재정의하는 것이 더 좋습니다.
  #}
  {%- block footer %}
    {% include "footer.html" %}
  {% endblock footer -%}
{%- endblock page -%}

{%- block scripts %}
  {% asset 'base/main' %}
  {% asset 'base/ckan' %}
  {{ super() }}
{% endblock scripts -%}
